<!--HEADER-->
<!DOCTYPE html>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('başlık.ejs', {bot, user, path}) %>


<% const guild = sunucu %>
<div class="container">

	<div class="row justify-content-md-center">
    <div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Yönetim Paneli</h2></div>
    </div>

	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
		
		<!--<div class="col col-4">
		<%- //include('../blocks/guild-card.ejs', {active: "manage", guild}) %>
    </div>-->
    
     <div class="col">
            <div class="container">
          
 
<div class="card-columns" style="padding: 20px; border-radius: 40px;">

  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ozelkomutlar" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Özel Komutlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/ozelkomutlar">
						<p class="card-text" href="/panel/<%=guild.id%>/ozelkomutlar" style="color:#fff"><center>Sunucunuza özel istediğiniz kadar komut ekleyebileceğiniz bir sistem.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/genel" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Genel Ayarlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/genel">
						<p class="card-text" href="/panel/<%=guild.id%>/=genel" style="color:#fff"><center>Botun sunucudaki ön-eki/prefixi ayarlanabilir. <br>Susturma rolü ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/giriscikis" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Giriş Çıkış</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/giriscikis">
						<p class="card-text" href="/panel/<%=guild.id%>/giriscikis" style="color:#fff"><center>Sunucuya birisi katıldığında ve sunucudan birisi ayrıldığında atılacak mesajlar.<br>Kanal ve mesajlar ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/kayitlar" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Kayıtlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/kayitlar">
						<p class="card-text" href="/panel/<%=guild.id%>/kayitlar" style="color:#fff"><center>Moderasyon kayıtları ve sunucu kayıtları kanalları ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/otorol" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Otomatik Rol</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/otorol">
						<p class="card-text" href="/panel/<%=guild.id%>/otorol" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişiye verilecek rol.<br>Rol ve otomatik rol kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ototag" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Tag</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/ototag">
						<p class="card-text" href="/panel/<%=guild.id%>/ototag" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişinin isminin başına eklenecek tag.<br>Tag ve tag kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/=sayac" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Sayaç</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/sayac">
						<p class="card-text" href="/panel/<%=guild.id%>/sayac" style="color:#fff"><center>Sunucuya birisi katılınca ve sunucudan birisi ayrılınca ayarlanan hedefe kaç kişi kaldığını sayar.<br>Sayaç ve kanal ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/filtre" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Filtreler</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/filtre">
						<p class="card-text" href="/panel/<%=guild.id%>/filtre" style="color:#fff"><center>Kelime filtresi, küfür ve link engelleme sistemleri.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/desteksistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Destek Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/desteksistemi">
						<p class="card-text" href="/panel/<%=guild.id%>/desteksistemi" style="color:#fff"><center>Geliştirilmiş sunucu içi destek sistemi.<br>Destek kanalı, rolü ve mesajı ayarlanabilir.</center></p>
					</div>
				</div>
  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ayarlar/ayar=davetsistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Davet Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/davetsistemi">
						<p class="card-text" href="/panel/<%=guild.id%>/davetsistemi" style="color:#fff"><center>Sunucuya birisi katıldığında katılan kişiyi davet eden kullanıcıyı ve katıldığı daveti gösterir.<br>Davet Kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>

</div>
  
              
                       <div style="width: 100%; text-align: right; margin-top: 15px;">
   <a class="btn btn-danger" style="color: white; background-color:red" data-toggle="modal" data-target="#settingsResetModal" role="button"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Tüm Ayarları Sıfırla</a>
<!-- </form>-->      
</div>
    </div>
  </div>
    
  </div></div>

<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>
<% include footer.ejs %>
