<!--HEADER-->
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%=bot.avatarURL%>">
  <meta name="author" content="<%=bot.user.tag%>">
  <meta name="keywords" content="RYKER">
  <meta property="og:site_name" value="<%=bot.user.username%>">
  <meta property="og:image" content="<%=bot.avatarURL%>">
  <meta property="og:description" content="Gelişmiş Türçe Discord Botu RYKER">
  <meta name="description" content="Gelişmiş Türçe Discord Botu RYKER">
  <meta name="theme-color" content="#0070fa">
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I="
    crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="/css/main.css" />
  <link rel= "stylesheet" type="text/css" href="style.css">
	<link rel='icon' href='<%=bot.avatarURL%>'>
	<title><%=bot.user.username%> Web Paneli</title>
</head>
  
  <body>
    
    <nav style="background-color:#2a2d32" class="navbar navbar-expand-lg navbar-dark">
     <div class="container">
      <a class="navbar-brand" href=""><img src="https://cdn.discordapp.com/avatars/<%=bot.user.id%>/<%=bot.user.avatar%>.png" width="30" height="30"
          class="d-inline-block align-top rounded-circle" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="/anasayfa" class="nav-link">Ana Sayfa</a></li>     
        <li class="nav-item"><a href="/istatistikler" class="nav-link">İstatistikler</a></li>
        <li class="nav-item"><a href="/kullaniciler" class="nav-link">Kullanıcılar</a></li>
        <li class="nav-item"><a href="/sunucular" class="nav-link">Tüm Sunucular</a></li>
        <li class="nav-item"><a href="/botuekle" class="nav-link">Botu Sunucuna Ekle</a></li>
      </ul>

      <ul class="navbar-nav">
          <%if(!user) {%>
          <li class="nav-item"><a href="/giris" class="nav-link">Giriş Yap</a></li>
            <%}%>
       <%if(user) {%>
            <li class="dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=32" width="25" height="25" class="d-inline-block align-middle rounded-circle" alt=""> <%=user.username%>
           </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="background-color:#2a2d32">
              <a class="dropdown-item" href="/kullaniciler/<%=user.id%>/yonet">Seviye Kartını Düzenle</a>
              <a class="dropdown-item activex" href="/panel" style="color:#ffffff"><i aria-hidden="true"></i>Sunucularım <br>(Şuan <b><%=sunucu.name%></b> adlı sunucu seçili.)</a>
              <% if(bot.ayarlar.sahip.includes(user.id)) { %>
						  <a class="dropdown-item" href="/yonetici" style="color:#ffffff"><i aria-hidden="true"></i>Yönetici Paneli</a>
				      <% } %>
              <a class="dropdown-item" href="/cikis" style="color:#ffffff"><i aria-hidden="true"></i>Çıkış Yap</a>
        </div>
          </li>
  <%}%>
        </ul>
      </div>
  </nav>
      

      <style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
        
        
         {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
        


</style>
  <!-- HEADER -->
  
      


      <% const guild = sunucu %>

<div class="row">
		
		<!--<div class="col col-4">
		<%- //include('../blocks/guild-card.ejs', {active: "manage", guild}) %>
    </div>-->
    
     <div class="col">
            <div class="container">


<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ayarlar/ayar=giriscikis" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Giriş Çıkış</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/ayarlar/ayar=giriscikis">
						<p class="card-text" href="/panel/<%=guild.id%>/ayarlar/ayar=giriscikis" style="color:#fff"><center>Sunucuya birisi katıldığında ve sunucudan birisi ayrıldığında atılacak mesajlar.<br>Kanal ve mesajlar ayarlanabilir.</center></p>
					</div>
				</div>
    
  
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ayarlar/ayar=kayitlar" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Kayıtlar</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/ayarlar/ayar=kayitlar">
						<p class="card-text" href="/panel/<%=guild.id%>/ayarlar/ayar=kayitlar" style="color:#fff"><center>Moderasyon kayıtları ve sunucu kayıtları kanalları ayarlanabilir.</center></p>
					</div>
				</div>
      
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/otorol" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Otomatik Rol</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/otorol">
						<p class="card-text" href="/panel/<%=guild.id%>/otorol" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişiye verilecek rol.<br>Rol ve otomatik rol kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
          
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/ototag" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Tag</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/ototag">
						<p class="card-text" href="/panel/<%=guild.id%>/ototag" style="color:#fff"><center>Sunucuya birisi katılınca katılan kişinin isminin başına eklenecek tag.<br>Tag ve tag kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/sayac" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Sayaç</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/sayac">
						<p class="card-text" href="/panel/<%=guild.id%>/sayac" style="color:#fff"><center>Sunucuya birisi katılınca ve sunucudan birisi ayrılınca ayarlanan hedefe kaç kişi kaldığını sayar.<br>Sayaç ve kanal ayarlanabilir.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/filtre" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Filtreler</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/filtre">
						<p class="card-text" href="/panel/<%=guild.id%>/filtre" style="color:#fff"><center>Kelime filtresi, küfür ve link engelleme sistemleri.</center></p>
					</div>
				</div>
<div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/desteksistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Destek Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/desteksistemi">
						<p class="card-text" href="/panel/<%=guild.id%>/desteksistemi" style="color:#fff"><center>Geliştirilmiş sunucu içi destek sistemi.<br>Destek kanalı, rolü ve mesajı ayarlanabilir.</center></p>
					</div>
				</div>
  <div class="card" style="background-color:#; margin: 3px; border-radius: 30px;">
					<h3 class="card-header" style="color: #383838;"><center><a href="/panel/<%=guild.id%>/davetsistemi" style="font-size: 25px; text-decoration: none; color:#78C2AD;">Davet Sistemi</a></center></h3>
					<div style="color:white" class="card-block" href="/panel/<%=guild.id%>/davetsistemi">
						<p class="card-text" href="/panel/<%=guild.id%>/davetsistemi" style="color:#fff"><center>Sunucuya birisi katıldığında katılan kişiyi davet eden kullanıcıyı ve katıldığı daveti gösterir.<br>Davet Kayıtları kanalı ayarlanabilir.</center></p>
					</div>
				</div>

</div>
         
  
    
    
    
        
        
      </form>
    </div>  
  </div>
</div> 
      
  
  <script>
    function myFunctionTwo () {
      $("#yeniKomutX").css("display", "block");
      $("#yeniAciklamaX").css("display", "block");
      $("#yeniTipX").css("display", "block");
    };
    
    function myFunctionXyz () {
      if (document.getElementById("tip").value === "embed") {
        $("#tip").css("width", "49%");
        $("#renk").css("display", "block");
      } else {
        $("#tip").css("width", "100%");
        $("#renk").css("display", "none");
      }
    };
    
    function myFunctionAbc () {
      if (document.getElementById("ytip").value === "embed") {
        $("#ytip").css("width", "49%");
        $("#yrenk").css("display", "block");
      } else {
        $("#ytip").css("width", "100%");
        $("#yrenk").css("display", "none");
      }
    };
  </script>
  
  <script>
      function formAutoSubmit () {
       var frm = document.getElementById("forum")
        frm.submit();
      }
    </script>
  
  <script>
      $(document).ready(function(){
        
        $("#genelAyarlarBtn").click(function() {
          $("#genelAyarlarBtn").addClass("activex");
          $("#genelAyarlar").css("display", "block");
          $("#ozelKomutlarBtn").removeClass("activex");
          $("#ozelKomutlar").css("display", "none");
          $("#modAyarlarBtn").removeClass("activex");
          $("#modAyarlar").css("display", "none");
        });
        
        $("#ozelKomutlarBtn").click(function() {
          $("#genelAyarlarBtn").removeClass("activex");
          $("#genelAyarlar").css("display", "none");
          $("#ozelKomutlarBtn").addClass("activex");
          $("#ozelKomutlar").css("display", "block");
          $("#modAyarlarBtn").removeClass("activex");
          $("#modAyarlar").css("display", "none");
        });
        
        $("#modAyarlarBtn").click(function() {
          $("#genelAyarlarBtn").removeClass("activex");
          $("#genelAyarlar").css("display", "none");
          $("#ozelKomutlarBtn").removeClass("activex");
          $("#ozelKomutlar").css("display", "none");
          $("#modAyarlarBtn").addClass("activex");
          $("#modAyarlar").css("display", "block");
        });
        
      });
  </script>
  
<%- include('footer.ejs', {bot, user, path}) %>