<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('başlık.ejs', {bot, user, path}) %>
<div class="container">

	<div class="row justify-content-md-center">
		<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Sayaç Sistemi</h2></div>
  </div>
	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
		

<div class="col">
    <div class="container">
      <form method="post">
        <ul class="list-group list-group-flush">
          
   <div class="row">
            <div class="col-25">
              <label for="sayacKanal">Sayaç</label>
            </div>
            <div class="col-75">
              <select id="sayacKanal" name="sayacKanal" style="width: 49%;"> 
           <%if(bot.ayar.has(`sKanal_${guild.id}`) === false) {%>
                 <option value="" disabled selected>Kanal seçiniz.</option>
                <%
                for (var i = 0; i < guild.channels.filter(c => c.type==='text').size; i++){%>
              
                <option value="<%=guild.channels.filter(c => c.type==='text').array()[i].name%>">#<%=guild.channels.filter(c => c.type==='text').array()[i].name%></option>
              <%  } %>
           <%} else {%>
               <option value="<%=guild.channels.get(bot.ayar.fetch(`sKanal_${guild.id}`)).name%>" selected>#<%=guild.channels.get(bot.ayar.fetch(`sKanal_${guild.id}`)).name%></option>
   <%for (var i = 0; i < guild.channels.filter(c=>c.id!==bot.ayar.fetch(`sKanal_${guild.id}`)).filter(c => c.type==='text').size; i++){%>
               
        <option value="<%=guild.channels.filter(c=>c.id!==bot.ayar.fetch(`sKanal_${guild.id}`)).filter(c => c.type==='text').array()[i].name%>">#<%=guild.channels.filter(c=>c.id!==bot.ayar.fetch(`sKanal_${guild.id}`)).filter(c => c.type==='text').array()[i].name%></option>
              <%  } %>
                <%}%>
              </select>

             <% if (bot.ayar.has(`sayac_${guild.id}`) === false) { %>
								<input type="number" style="width: 49%; text-align: left; float: right;" name="sayac" id="sayac"
									placeholder="Bir sayı yazınız!">
              <% } %>
              
							<% if(bot.ayar.has(`sayac_${guild.id}`) === true) { %>
								<input type="number" style="width: 49%; text-align: left; float: right;" name="sayac" id="sayac" value="<%= bot.ayar.fetch(`sayac_${guild.id}`) %>"
									placeholder="Bir sayı yazınız!">
              <% } %>
            </div>
          </div>
          
          
          
          </ul>
          <div style="width: 100%; text-align: right; margin-top: 15px;">
    <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kaydet</button>
          </div>
      </form>
    </div>
  </div>
    
</div>


<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>
<% include footer.ejs %>
